extends layout

block content
      h1= title
      .topnav 
        a.active(href="#home") Home 
        a(href="cases") Cases
        a(href="switches") Switches 
        a(href="keycaps") Keycaps 
      button.
        



      

